/Java Básico/PrimeiroPrograma/target/
/Java Básico/SystemHour/target/
/SystemLanguage/target/
/Java Básico/SystemLanguage/target/
/Java Básico/DisplayResolution/target/
/Java Básico/HelloWorldSwing/target/
/Java Básico/HelloWorldSwing/nbproject/private/
/Java Básico/HelloWorldSwing/build/
/Java Básico/HelloWorldJavaFX/nbproject/private/
/Java Básico/HelloWorldJavaFX/dist/
/Java Básico/HelloWorldJavaFX/build/
/Java Básico/ClockSwing/nbproject/private/
/Java Básico/ClockSwing/build
/Java Básico/ClockSwing/dist/
/Java Básico/SystemHourSwing/nbproject/private/
/Java Básico/DisplayResolutionSwing/nbproject/private/
/Java Básico/DisplayResolutionSwing/build/
/Java Básico/SystemLanguageSwing/nbproject/private/
/Java Básico/SystemLanguageSwing/build/
